*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: radial-gradient(#555,#292929);
}
.safari 
{
	position: relative;
	width: 400px;
	height: 400px;
	background: #fff;
	border-radius: 80px;
}

.circle_lines
{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 35px;
	border-radius: 50%;
	background: linear-gradient(#1ec9ff,#2971e7);
}

.circle_lines span
{
	position: absolute;
	width: 2px;
	height: 24px;	
	background: #fff;
	transform: translateY(-137.55px) rotate(calc(10deg * var(--i)));
	transform-origin: 1px 150px;
	filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.15));
}
.circle_lines span::before 
{
	content: '';
	position: absolute;
	width: 2px;
	height: 12px;	
	background: #fff;
	transform-origin: 0 150px;
	transform: rotate(5deg);
}
.niddle 
{
	position: absolute;
	width: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	inset: 50px;
	transform: translateX(130px) rotate(45deg);
	filter: drop-shadow(8px 8px 4px rgba(0,0,0,0.25));
	transition: cubic-bezier(0.55,-0.32, 0.33, 1.38) 3s;
}
.safari:hover .niddle 
{
	transform: translateX(130px) rotate(405deg);
}
.niddle::before 
{
	content: '';
	position: absolute;
	top: -150px;
	height: 150px;
	border-left: 18px solid transparent;
	border-right:  18px solid transparent;
	border-bottom: 150px solid #fb3b2e;
	z-index: 100;
}
.niddle::after 
{
	content: '';
	position: absolute;
	top: 150px;
	height: 150px;
	border-left: 18px solid transparent;
	border-right:  18px solid transparent;
	border-top: 150px solid #fff;
	z-index: 100;
}